#controls {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap between buttons as needed */
}

#start {
  width: 50px;
  height: 50px;
  background-color: rgb(210, 36, 36);
  border: solid black 5px;
  border-radius: 50%;
  cursor: pointer;
}

#stop {
  width: 50px;
  height: 50px;
  background-color: black;
  border: none;
  cursor: pointer;
}