body, html {
  height: 100%;
  margin: 0;
}

.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 20px;
}

.navbar-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.no-link-style {
  text-decoration: none;   
  color: inherit;        
}

.no-link-style:hover {
  color: inherit;          
  text-decoration: none;    
}



/* Center the content and give some space */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Give the cards a little spacing */
.card {
  margin-bottom: 20px;
}

/* Adjust the carousel items to have uniform size */
.carousel-item {
  width: 200px;
  margin-right: 10px;
}

.carousel-inner {
  display: flex;
  justify-content: space-between;
}
